In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt

In [2]:
print(pd.__version__, np.__version__, mpl.__version__)

1.0.5 1.18.5 3.2.2

In [3]:
dataset = pd.read_csv('Bank_Personal_Loan_Modelling.csv')
dataset.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [4]:
dataset = dataset.drop(['ID', 'ZIP Code'], axis = 1)
dataset.head()

,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,25,1,49,4,1.6,1,0,0,1,0,0,0
1,45,19,34,3,1.5,1,0,0,1,0,0,0
2,39,15,11,1,1.0,1,0,0,0,0,0,0
3,35,9,100,1,2.7,2,0,0,0,0,0,0
4,35,8,45,4,1.0,2,0,0,0,0,0,1

In [5]:
x = dataset.iloc[:, :7]
x.shape

(5000, 7)

In [29]:
y = dataset.iloc[:, 7]
y.shape

(5000,)

In [7]:
# Number of unique in each column?
for i in x.columns:
    print('Unique values in cloumn {} is: {}'.format(i, np.unique(x[i])))

Unique values in cloumn Age is: [23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46
 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67]
Unique values in cloumn Experience is: [-3 -2 -1  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20
 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43]
Unique values in cloumn Income is: [  8   9  10  11  12  13  14  15  18  19  20  21  22  23  24  25  28  29
  30  31  32  33  34  35  38  39  40  41  42  43  44  45  48  49  50  51
  52  53  54  55  58  59  60  61  62  63  64  65  68  69  70  71  72  73
  74  75  78  79  80  81  82  83  84  85  88  89  90  91  92  93  94  95
  98  99 100 101 102 103 104 105 108 109 110 111 112 113 114 115 118 119
 120 121 122 123 124 125 128 129 130 131 132 133 134 135 138 139 140 141
 142 143 144 145 148 149 150 151 152 153 154 155 158 159 160 161 162 163
 164 165 168 169 170 171 172 173 174 175 178 179 180 181 182 183 184 185
 188 189 190 191 192 193 194 195 198 199 200 201 202 203 204 205 218 224]
Unique values in cloumn Family is: [1 2 3 4]
Unique values in cloumn CCAvg is: [ 0.    0.1   0.2   0.3   0.4   0.5   0.6   0.67  0.7   0.75  0.8   0.9
  1.    1.1   1.2   1.3   1.33  1.4   1.5   1.6   1.67  1.7   1.75  1.8
  1.9   2.    2.1   2.2   2.3   2.33  2.4   2.5   2.6   2.67  2.7   2.75
  2.8   2.9   3.    3.1   3.2   3.25  3.3   3.33  3.4   3.5   3.6   3.67
  3.7   3.8   3.9   4.    4.1   4.2   4.25  4.3   4.33  4.4   4.5   4.6
  4.67  4.7   4.75  4.8   4.9   5.    5.1   5.2   5.3   5.33  5.4   5.5
  5.6   5.67  5.7   5.8   5.9   6.    6.1   6.2   6.3   6.33  6.4   6.5
  6.6   6.67  6.7   6.8   6.9   7.    7.2   7.3   7.4   7.5   7.6   7.8
  7.9   8.    8.1   8.2   8.3   8.5   8.6   8.8   8.9   9.    9.3  10.  ]
Unique values in cloumn Education is: [1 2 3]
Unique values in cloumn Mortgage is: [  0  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90  91
  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108 109
 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126 127
 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144 145
 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161 162 163
 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179 180 181
 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197 198 199
 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215 216 217
 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233 234 235
 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251 252 253
 255 256 257 258 259 260 262 263 264 265 266 267 268 270 271 272 273 275
 276 277 278 280 281 282 283 284 285 286 287 289 290 292 293 294 295 296
 297 298 299 300 301 302 303 304 305 306 307 308 309 310 311 312 313 314
 315 318 319 321 322 323 325 326 327 328 329 330 331 333 334 336 337 341
 342 343 344 345 351 352 353 354 355 357 358 359 360 361 364 366 368 372
 373 374 378 380 381 382 383 385 389 391 392 394 396 397 398 400 402 403
 405 406 408 410 412 415 416 419 421 422 427 428 429 431 432 433 437 442
 446 449 452 455 458 461 464 466 467 470 475 477 481 483 485 496 500 505
 508 509 522 524 535 541 547 550 553 565 567 569 571 577 581 582 587 589
 590 601 612 617 635]

In [12]:
# Number of people with zero mortgage?
len(x[x['Mortgage'] == 0])

3462

In [14]:
#Number of people with zero credit card spending per month?
len(dataset[dataset['CreditCard'] == 0])

3530

In [31]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
sc.fit(x)
x = sc.transform(x)
x.shape

(5000, 7)

In [32]:
y = dataset.iloc[:, 7]
y.shape

(5000,)

In [33]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3,
                                                    random_state = 0)

In [34]:
x_train.shape

(3500, 7)

In [35]:
x_test.shape

(1500, 7)

In [36]:
y_train.shape

(3500,)

In [37]:
y_test.shape

(1500,)

In [38]:
from sklearn.linear_model import LogisticRegression

In [39]:
log_r = LogisticRegression()

In [40]:
log_r.fit(x_train, y_train)

LogisticRegression()

In [41]:
pred = log_r.predict(x_test)
pred

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [44]:
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [45]:
accuracy_score(y_test, pred)*100

95.39999999999999

In [46]:
confusion_matrix(y_test, pred)

array([[1353,   19],
       [  50,   78]], dtype=int64)

In [47]:
classification_report(y_test, pred, target_names=['yes', 'no'])

'              precision    recall  f1-score   support\n\n         yes       0.96      0.99      0.98      1372\n          no       0.80      0.61      0.69       128\n\n    accuracy                           0.95      1500\n   macro avg       0.88      0.80      0.83      1500\nweighted avg       0.95      0.95      0.95      1500\n'

In [48]:
log_r.predict([[26, 20, 50, 3, 1.3, 2, 78], [56, 40, 60, 3, 1.6, 4, 150],
              [0, 0 , 0 , 0, 0, 0, 0]])

array([1, 1, 0], dtype=int64)